#header
{
	
background-color:#F5A923;
height:190px;
width:1504px;
position:fixed;
z-index:999;

}
#link
{
position:absolute;
left:800px;
top:80px;
font-size:50px;
padding-right:50px;
}
#image
{
position:absolute;
top:190px;
width:1504px;
height:500px;
}
#opacity
{
position:absolute;
top:150px;
left:180px;
z-index:400;
font-size:100px;
color:#B6EA14;
background-color:rgba(218, 152, 37,0.5);
}
#image1
{
margin-left:40px;
margin-top:40px;
width:300px;
height:300px;
border:3px solid #11EC53;
border-radius:100px;
}
#table
{
left:50px; 
position:absolute;
text-align:center;
top:750px;

}
#link1
{
font-size:20px;
color:#1732E2;
}
#image2
{
position:absolute;
top:1550px;
width:1504px;
height:500px;
}
